.idea/misc.xml
.idea/workspace.xml

venv/Lib/tcl8.6/init.tcl
venv/pyvenv.cfg
venv/Scripts/_asyncio.pyd
venv/Scripts/_bz2.pyd
venv/Scripts/_ctypes.pyd
venv/Scripts/_ctypes_test.pyd
venv/Scripts/_decimal.pyd
venv/Scripts/_elementtree.pyd
venv/Scripts/_hashlib.pyd
venv/Scripts/_lzma.pyd
venv/Scripts/_msi.pyd
venv/Scripts/_multiprocessing.pyd
venv/Scripts/_overlapped.pyd
venv/Scripts/_socket.pyd
venv/Scripts/_sqlite3.pyd
venv/Scripts/_ssl.pyd
venv/Scripts/_testbuffer.pyd
venv/Scripts/_testcapi.pyd
venv/Scripts/_testconsole.pyd
venv/Scripts/_testimportmultiple.pyd
venv/Scripts/_testmultiphase.pyd
venv/Scripts/_tkinter.pyd
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/Activate.ps1
venv/Scripts/deactivate.bat
venv/Scripts/pyexpat.pyd
venv/Scripts/python.exe
venv/Scripts/python3.dll
venv/Scripts/python36.dll
venv/Scripts/pythonw.exe
venv/Scripts/select.pyd
venv/Scripts/sqlite3.dll
venv/Scripts/tcl86t.dll
venv/Scripts/tk86t.dll
venv/Scripts/unicodedata.pyd
venv/Scripts/vcruntime140.dll
venv/Scripts/winsound.pyd
.idea/Wumpus_World.iml
.idea/modules.xml
src/Worlds
*.pyc
*.xml
.DS_Store
